# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json

# Archivos de workspace de VS Code
*.code-workspace

# Clases antiguas
/Clases/old-(con javi)/
